[submodule "pipeline/qpid"]
	path = pipeline/qpid
	url = git@github.com:mariokostelac/qpid.git
[submodule "pipeline/brahle_assembly"]
	path = pipeline/brahle_assembly
	url = https://github.com/brahle/assembly
